<nz-layout *ngIf="lessons$ | async as lessons">
    <nz-content>
        <div class="inner-content">
            <div class="content">
                <nz-list [nzDataSource]="lessons" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                    <ng-template #item let-item>
                        <nz-list-item>
                            <nz-list-item-meta [nzTitle]="nzTitle">
                                <ng-template #nzTitle>
                                    <a (click)="selectLesson(item.id)">{{ item.dates | date: 'dd/MM/yyyy' }}</a>
                                </ng-template>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
                <button class="btn" nz-button nzType="primary" (click)="newLesson()">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>Add lesson
                </button>
            </div>
        </div>
    </nz-content>
</nz-layout>

<nz-layout *ngIf="selectedLesson">
    <nz-content>
        <div class="inner-content"></div>
    </nz-content>
</nz-layout>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Add new lesson" (nzOnCancel)="handleCancel()" (nzOnOk)="addNewLesson()">
    <nz-date-picker [(ngModel)]="date"></nz-date-picker>
</nz-modal>
